body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif; font-weight: 400;}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.logo {
    height: 60px;
    width: 60px;
}

#foto {
    height: 100%;
    width: 100%;
    
} 

.menu {
    display: none;
}

#series {
    text-decoration: underline;
}

.w3-container {
  padding:64px 16px
}

blockquote {
border-left: 5px solid #ff2800;
color: #fff;
}

.split-div {
  color: #ededeb;
  background-color: #232323;
}

.split-image {
  height: 0;

}

.split-div.left {
  padding-bottom: 20px;
}

.left-absolute-image {
  background-image: none;
}

.right-absolute-image {
  background-image: none;
  right: 0%;
  left: 61%;
}

.blockquote2 {
  border-left: none 
}

#compra {
  padding-bottom: 100px;
}

.button {
  transition-duration: 0.4s;
  background-color: #212529;
  border: none;
}
.button:hover {
  background-color: white;
  color: #212529;
  border: 2px solid #212529;

}

#navbar {
  transition: top 0.5s;
}

#sized {
  padding-left: 3vw;
}

.w3-black, .w3-hover-black:hover {
  background-color: #212529!important;
}
